*~
*.o
*.la
*.lo
*.pc
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libsvg.spec
libtool
ltmain.sh
missing
*.deps
*.libs
svg_version.h
stamp-h1
build/
Release/
Debug/
.vs/
